body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    min-height: 350px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

header {
    font-size: 35px;
    font-weight: bold;
    color: #6c5ce7;
    text-align: center;
    margin-bottom: 20px;
}

.container h3 {
    text-align: center;
    color: #555;
}